name: CI Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9].[0-9].[0-9]-rc-[0-9]*' 

jobs:
  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install

      - name: Inject app version
        run: echo "VITE_APP_VERSION=${{ github.ref_name }}" >> $GITHUB_ENV
      - run: npm run build
      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend
          path: frontend/dist

  backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - run: dotnet publish -c Release -o publish
      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend
          path: backend/ParkNDeploy.Api/publish
